
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,600;1,300&family=Montserrat&family=Roboto:wght@500&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans&family=Lexend+Deca&family=Livvic:ital,wght@1,300&display=swap');



:root{
    --Noto: 'Noto Sans HK', sans-serif;
    --josefin-slab: 'Josefin Slab', serif;
    --montserrat: 'Montserrat', sans-serif;
    --roboto : 'Roboto', sans-serif;
    --ubuntu:'Ubuntu', sans-serif;
    --Abel:'Abel' , sans-serif;
    --Anton: 'Anton' , sans-serif ;
    --Josefin: "Josefin Sans" , sans-serif;
    --Lexend: "Lexend Deca" , sans-serif;
    --Livvic: "Livvic" , sans-serif ;
    --gradient: -moz-linear-gradient(90deg, rgba(4, 84%, 49%, 1) 0%, rgba(37, 89%, 52%, 1) 100%);
    --black-1:#1f363d;
    --black-2:#383d3b;
    --black-3:#012a36;
    --black-4:#393d3f;
    --orange:#dc493a;
    --black-1-opacity:rgba(31, 54, 61 , 0.2);
    --white-1:#f1faee;
    




}

/* General Styling  */
*{
    padding: 0px;
    margin: 0px;
   
    
    
}


body{
    color: var(--black-1);
    margin: 0px;
    padding: 0px;
    background-color: var(--white-1);
    overflow-x: hidden;
    /* border: 1px solid red; */
    /* overflow: auto; */
}


a{
    text-decoration: none;
    color:var(--black-1);
}

a:hover{
    text-decoration: none;
    color: black;
}

.nav .nav-menu  a:hover{
    color: var(--white-1) !important;
}
.nav .nav-menu  .theactive{
    background-color: var(--black-1) !important;
    color: var(--white-1) ;
}

.nav .nav-menu .theactive a{
    color: var(--white-1) !important;
}


/*----------------- Styling of the nav ---------------- */
.nav{
    padding: 0px 30px;
    border-bottom: 1px solid var(--black-1-opacity);
    background-color: var(--white-1);
    height: 9.6vh;
    transition: 1s;
    
    
}
.nav .nav-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 1px solid red ; */
    width: 100%;
    justify-content: space-between;
}

.collapse{
    height: 70vh;
}

.new-height{
    height: 75vh;
    
}

.nav .nav-brand .nav-brand-item{
    font-family: var(--Abel);
    font-size: 30px;
    font-weight: 600;
    padding-top: 8px;

}

.nav .nav-brand .nav-brand-item .span_1{
    color: var(--orange);
}

.nav .toggle-collapse{
    position: absolute;
    right:50px;
    top:8px;
    font-size: 30px;
    display: none;
    
    
}


.nav ul{
    display: flex;
    margin: 0px;
    
    

}



.nav ul .nav-menu-item{
    list-style-type: none;
    padding: 20px 30px;
    font-size: 18px;
    font-family: var(--Josefin);
    margin: 0px;
    transition: 0.5s ease-in;
    margin: 0px;
}



.nav ul .nav-menu-item:hover {
    background: var(--black-1);
    
}

.nav ul .nav-menu-item:hover a{
    color: white;
}

.nav .nav-social a{
    display: inline-block;
    padding: 12px 10px;
    
}

.nav .nav-social {
    margin-right: 20px;
    font-size: 20px;
    
}

/*---------x-- Styling of the nav  ----------x--------*/

/*------------------------- main --------------------- */
/*------------------------ ShowCase ----------------------------- */

main .showcase{
    background-image: linear-gradient(rgba(220, 73, 58,0.5) , rgba(220, 73, 58,0.5)), url('./images/blogPost/pexels-luriko-yamaguchi-2761017.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* width: 100%; */
    
    /* background-attachment: fixed; */
    height: 100vh;
    position: relative;
}

main .new_showcase{
    background-image: linear-gradient(rgba(220, 73, 58,0.9) , rgba(220, 73, 58,0.9)), url('./images/pexels-helena-lopes-1015568.jpg');
}


main .showcase-img{
    position: absolute;
    bottom: 0px;
    
}

main .showcase .showcase-content{
    color: white;
    width: 60%;
    padding: 100px 50px;
    font-family: var(--Abel);
}
main .home-showcase-content{
    width: 100% !important;
    padding: 100px 20px !important;
    margin: auto;
}

main .home-showcase-content a .registerButton{
    text-align:center; 
    margin-left:10px;
    border: 1px solid var(--white-1);
    padding:8px 0px 8px 0px;
    margin-top: 20px;
}
main .showcase .showcase-content .home-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin: auto;
    padding: 20px 20px 20px 0px;
    border: 3px solid var(--white-1);
    

}

main .showcase .showcase-content .home-container .inner-container{
    padding: 20px;
}

main .showcase .home-img{
    width:500px;
}

main .showcase .home-img-container{
    width: 550px ;
    height: 430px;
}
main .new_showcase .home-container p{
    font-family: var(--Josefin);
    padding-left:10px;
    padding-top: 20px;
    text-align: left !important;
}

main .showcase .showcase-button{
    border: 1px solid var(--white-1);
    font-size: 25px;
    width: 60%;
    text-align: center;
    color:var(--white-1) !important;
    height: 60px;
    margin-top: 30px;
    padding-top: 10px;
    transition: 0.2s;

}

main .showcase .showcase-content a{
    color: var(--white-1) !important;
    
}

main .showcase .showcase-button:hover{
    background: rgba(220, 73, 58,0.5);
    border: none;
    outline: none;
}




/*------------x------------ ShowCase ----------------x------------- */

/* ---------------------Advertisement -------------------- */


main #advertisement{
    position: relative;
    
}

main #advertisement .advertisement-post .advertisement-content{
    padding-top: 2rem !important;
    box-shadow: 0 15px 20px rgba(0 , 0 , 0 ,0.2);
    height: 300px;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    background: white;
    border-radius: 20px;
    

    /* height: 200px; */
    
    
}

main #advertisement .advertisement-post {
    padding-top: 50px;
}

main #advertisement .advertisement-post .advertisement-content h1{
    font-size: 30px;
    padding-bottom: 10px;
    font-family: var(--roboto);
}

main #advertisement .advertisement-post .advertisement-content p{
    font-family: var(--Josefin);
}


main #advertisement .advert-post .advert-link{
    width: 100%;
    border: 1px solid var(--orange);
    font-family: var(--Abel);
    height: 40px;
    padding-top: 2px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 30px;
    transition: 0.5s;
}

main #advertisement .advert-post .advert-link:hover{
    background-color: var(--orange);
    color: white;
}

main #advertisement .owl-nav{
    position: absolute;
    top: 0px;
    left: 46%;

}

main #sideMenu p{
    font-family: var(--roboto);
    font-size: 24px;
}

main #sideMenu .category-content{
    list-style: none;
    padding: 20px 30px;
    font-family: var(--Josefin);

}

main #sideMenu .category-content .category-item{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    background-color: var(--orange);
    height: 40px;
    padding: 8px 10px;
    border-radius: 10px;
    color: var(--white-1);
}

main #sideMenu .category-content .category-item a{
    color: var(--white-1);
}

main #sideMenu #popular-post .popular-post .popular-img{
    width: 100%;
    height: 300px;
    padding-top: 10px;
    
}

main #sideMenu #popular-post .popular-post .popular-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

main #sideMenu #popular-post .popular-post .popular-img .popular-img-info{
    background-color: var(--orange);
    
}

main #sideMenu #popular-post .popular-post .popular-post-title h1{
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 4px;
    font-family: var(--roboto);
    font-weight: bold;
    
}

main #sideMenu #popular-post .popular-post .popular-post-title p{
    font-size: 16px;
    font-family: var(--Lexend);
}

main #sideMenu #popular-post .popular-post .popular-btn{
    background-color: var(--orange);
    padding: 10px 20px;
    width: 60%;
    color: var(--white-1) !important;
    border-radius: 4px;
}

main #sideMenu #popular-post .popular-post .popular-btn a{
    color: var(--white-1);
    font-family: var(--Noto);
    
}

/*------------------- pagination -------------- */
.blog-content .pagination{
    display: flex;
    justify-content: center;
    color: var(--text-gray);
    margin: 4rem 0;
}

.blog-content .pagination a{
    padding: .6rem .9rem;
    /* border-radius: 2rem; */
    margin: 0.3rem;
    font-family: var(--Lexend);
    color: white !important;
}

.blog-content .pagination i {
    color: var(--black-1);
}

.blog-content .pagination .pages{
    border-radius: 2rem;
    background: var(--black-1);
}

/*---------x------------ pagination -------------x------- */






/*--------------x---------------- Advertisement ---------x------------------ */

/*-------------------------- Blog Post  ---------------------*/
main #blog-post{
    margin-top: 50px;
    /* display: grid; */
    /* grid-template-columns:70% 30%; */
    
}

main #blog-post .blog-content .blog-image{
    width: 90%;
    height: 500px;
}

main #blog-post .blog-content .blog-image img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

main #blog-post .blog-content .blog-title{
    width: 90%;
}

main #blog-post .blog-content .blog-showcase{
    position: relative;
}

main #blog-post .blog-content .blog-showcase .blog-info{
    background-color: var(--orange);
    padding: 15px 30px 20px 30px;
    width: 60%;
    height: 60px;
    position: absolute;
    left: 50px;
    bottom: -15px;
    border-radius: 10px;
    color: var(--white-1);
    font-family: var(--Lexend);
}

main #blog-post .blog-content .blog-showcase .blog-info span{
    margin-right: 8px;
}

main #blog-post .blog-content .blog-title h1{
    padding-top: 20px;
    font-family: var(--Lexend);
    font-size: 30px;
    font-weight: bold;
}

main #blog-post .blog-content .blog-title .blog-button{

}

main #blog-post .blog-content .blog-title p{
    font-family: var(--Lexend);
    width: 80%;
    
}

main #blog-post .blog-content .blog-title .blog-button{
    background-color: var(--orange);
    padding: 8px 30px;
    width: 25%;
    height: 40px;
    color: var(--white-1);
    border-radius: 4px;
    margin-bottom: 20px;
    font-family: var(--roboto);
}


/*------------x---------- Blog Post ---------x------------- */
/*--------x----------------- main ----------x----------- */

/*-------------------- Footer -------------------- */
footer.footer{
    height: 100%;
    background-color: var(--black-1);
    color: var(--white-1);
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
}

footer .footer-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

footer.footer .footer-container p{
    font-size: 24px;
    font-family: var(--Abel);
    font-weight: bold;
    /* padding-bottom: 20px; */
}

footer.footer .about-us{
    padding-left: 10px;
}

footer.footer .about-us div{
    width: 80%;
    font-family: var(--Josefin);
    color: rgb(241, 250, 238 ,0.5);
    font-weight: 500;
    padding-left: 20px;
}

footer.footer .follow{
    padding-left: 10px;
}

footer.footer .follow div{
    padding-left: 20px;
}



footer.footer .follow .l-social{
    font-size: 20px;
    font-family: var(--Lexend);
    color: rgb(241, 250, 238 ,0.5);


}

footer.footer .follow i{
    padding: 10px;
    font-size: 20px;
}

footer.footer .move-up{
    position: absolute;
    left: 90%;
    bottom: 30%;
}
/*---------x------- Footer -------------x-- */

/*---------------- Comment  ------------------*/
.comment p{
    font-family: var(--Lexend);
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    

}

.comment input{
    height: 40px;
    width: 70%;
    padding-left:10px ;
    border: 1px solid var(--black-1-opacity);
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: var(--Abel);
    font-weight: bold;
}

.comment input:focus{
    outline: none;
    border: 1px solid var(--black-1);
}

.comment input.commentContent{
    height: 60px;
}

.comment input.commentSubmit{
    margin-top: 8px;
    background-color:var(--orange);
    border: 1px solid var(--orange);
    color: white;
    transition: 0.3s;
}

.comment input.commentSubmit:hover{
    background-color: transparent;
    border: 1px solid var(--orange);
    color: black;
}


.theComment {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    
}

.theComment .commentDate{
    position: absolute;
    right: 0px;
    bottom: -10px;
    font-family: var(--Abel);
    font-size: 12px;
    font-weight: bold;
}

.theComment p {
    margin: 0px;
    padding: 0px;
    font-family: var(--Abel);
    font-weight:bold;
    font-size: 20px;
}

.theComment span{
    font-size: 12px;
    font-weight:bold;
}

.showComment{
    width: 70%;
    padding-top: 30px;
    
}


/* ------HomePage --------- */

main .programme{
    height: 90vh;
    background-color: var(--black-1);
    border-top: 1px solid var(--white-1);
    padding: 20px 10%;
    color: white;
    
}



main .programme .ourServices{
    font-size: 30px;
    font-family: var(--Abel);
    color: var(--white-1);
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

main .programme .programme-img{
    width: 100%;
    height: 230px;
    
    
}

main .programme .programme-img img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

main .programme .programme-text{
    width: 90%;
    /* padding-top: 20px; */
    color:black;
    text-align: justify;
    font-size: 14px;
    font-family: var(--Lexend);
}

main .programme .programme-text h3{
    font-family: var(--Abel);
    color: black;
    font-weight: bold;
    
}

main .programme .programme-text hr{
    margin-top: 4px;
    margin-bottom: 4px;
}



main .programme .programme-container{
    padding-top: 2rem !important;
    box-shadow: 0 15px 20px rgba(0 , 0 , 0 ,0.2);
    height: 450px;
    margin: 10px;
    padding: 10px 20px;
    text-align: center;
    background: white;
    border-radius: 20px;
    
}

/*--------------- What We Offer ----------- */
main .offer{
    padding: 20px 10%;
}

main .offer .offer-head{
    font-size: 35px;
    font-family: var(--Abel);
    padding-bottom: 30px;
}
main .offer .offer-head-content{
    font-family: var(--Josefin);
    width: 90%;
}

main .offer .offer-breakdown{
    padding-top: 40px;
}

main .offer .offer-breakdown i{
    font-size: 30px;
    background: var(--orange);
    padding: 30px;
    border-radius: 70%;
    color: var(--white-1);
    
}

main .offer .offer-breakdown .theCol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

main .offer .offer-breakdown .theCol h5{
    font-family: var(--Lexend)
}

main .offer .offer-breakdown .theCol p{
    font-family: var(--josefin-slab);
}

main .offer .offer-breakdown .theCol .font-container{
    margin-right: 10px;
}




/*------------x------ What We Offer -------x------- */

/* ---------------Team section ------------ */
main .team{
    padding-top: 20px;
    background-color: var(--black-1);
    min-height: 60vh;
}

main .team .ourTeam{
    font-size: 34px;
    padding-left: 10%;
    font-family: var(--Abel);
    font-weight: bold;
}
main .team .author-container{
    min-height: 90vh;
    padding-left: 80px;
    /* border: 1px solid white; */
    padding-bottom: 50px;
    
}

main .team .team-img-container{
    width: 20%;
    height: 60%;
    
}

main .team .team-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

main .team .author-container .founder-details{
    width: 20%;
    /* border: 1px solid red; */
    color: var(--white-1)   ;
}

main .team .author-container .founder-details h3{
    font-family: var(--Abel);
    text-align:center;
}

main .team .author-container .founder-details p{
    text-align: justify;
    font-family: var(--Josefin);
}

main .team .author-container .founder-details hr{
    background: var(--white-1);
}

main .team .tutors .Tutor-container{
    width: 250px;
    margin: 0px 10px;
}

main .team .tutors{
    /* border: 1px solid red; */
    margin: auto;
    padding-left: 5%;
    padding-top:50px;
}

main .team .tutors .Tutor-container img{
    border-radius: 8px;
}

main .team .tutors .Tutor-container .tutor-details{
    color: white;
    /* border: 1px solid red; */
    text-align: justify;
}

main .team .tutors .Tutor-container .tutor-details .tutor-name{
    text-align: center;
    padding-top: 10px;
    font-family: var(--Abel);
    letter-spacing: 1.5px;
    font-size: 20px;
}

main .team .tutors .Tutor-container .tutor-details p{
    font-family: var(--Josefin);
    color: var(--white-1);
}
main .team .tutors .Tutor-container hr{
    background-color: white;
}

main .tutor-media{
    display: flex;
    justify-content: space-around;

}
main .tutor-media a{
    color:var(--white-1) !important;
    font-size: 20px;
    
}

main .tutor-follow{
    text-align: center;
    padding-bottom: 10px;
    font-family: var(--Abel);
}

.owl-dots{
    text-align: left !important;
    padding-left: 30% !important;
}







/*--------x----------- Team section --------x------------ */

main .example-student{
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

main .example-student .student-head{
    font-family: var(--Abel);
    font-size: 24px;
    font-weight: bold;
}

main .example-student .student-img{
    width: 40%;
    overflow: hidden;
    margin-bottom: 20px;
    
}

main .example-student img{
    width: 100%;
    height: 100%;
}

main .example-student .test-cont{
    display: flex;
    flex-direction: row;
}

main .example-student .example-student-cont{
    
}
main .example-student .test-cont .student-test{
    width: 70%;
    font-family: var(--Josefin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .example-student .test-cont .student-test .student-test-div{
    width: 100%;
    font-family: var(--Josefin);
}

main .example-student .test-cont .student-test .linkToTestimonials{
    background-color: var(--orange);
    color: var(--white-1);
    text-align: center;
    padding: 8px 0px;
    border-radius: 8px;
    position: relative;
    bottom: 20px;
}



/*------------------- Flash Advert -------------- */
.flash-advert{
    width: 100% !important;
    background-color: var(--black-1);
    overflow: hidden;
    /* max-height: 20vh; */
    color: var(--white-1);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
}

@keyframes theSlide{
    0%  {right:0% ;}  
    20%  {right: 100% ;} 
    40%  { right: 200% ;} 
    60%  {right: 300% ;} 
    80%  {right: 400% ;} 
    100%  {right: 0% ;} 
}
.content-flash{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 0;
    top: 0;
    animation: theSlide linear 30s infinite;
}

.content-flash .slides h4{
    font-family: var(--Anton);
    letter-spacing: 2px;
}

.flash-title{
    font-size: 24px;
    padding-left: 30px;
}

.content-flash .slides p{
    font-family: var(--Josefin);
    width: 80%;
    padding-left: 20px;
    padding-top: 20px;
}

.content-flash .slides a{
    text-decoration: none;
    color: white ;
}

.content-flash .slides .flash-link-div{
    background-color: var(--orange);
    padding: 10px 20px;
    text-align: center;
    width: 40%;
    border-radius: 4px;
    font-family: var(--Josefin);

}

.content-flash:hover{
    animation-play-state: paused;
}

.slides {
    width: 100% !important;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 20px;
    /* border-left: 1px solid var(--white-1); */
    /* text-align: center; */
}

.flash-title{
    font-family: var(--montserrat);
    padding-top: 10px;
}

/*---------x---------------- Flash Advert -------------x------------ */

/*------------------ Quote section ---------------- */
.theQuote{
    padding: 50px 50px 20px 50px;
}


.Quote-Section p{
    display: inline;
}

.Quote-Section i {
    font-size: 30px;
}

.Quote-Section .quote{
    width: 60%;
    margin: auto;
    font-family: var(--Josefin);
    font-size: 20px;
}

.Quote-Section p{
    font-size: 16px;
    
}
/*---------x---------- Quote section ----------x--------- */
/* ----x-----------HomePage ----------x------ */

/*------------------------ Resources --------------------------- */
.token-login{
    width: 40%;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 10%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.token-login p{
    margin: 0px;
    padding: 0px;
    font-family: var(--Josefin);
    
}

.token-login .resource-input{
    width: 80%;
    height: 40px;
    margin-bottom: 8px;
    padding-left: 10px;
    border: 1px solid var(--black-1-opacity);
    border-radius: 8px;
    font-family: var(--Josefin);
}

.token-login .resource-input::placeholder{
    font-family: var(--Josefin);
    color: rgba(0 , 0 , 0 ,0.5);
}

.token-login .resource-input:focus{
    outline: none;
    border: 1px solid var(--black-1);
}


.token-login .resource-submit{
    margin-top: 10px;
    width: 75%;
    margin-bottom: 20px;
    height: 40px;
    background-color: var(--orange);
    color: white;
    transition: all .5s;
    border: none;
    border-radius: 8px;
    font-family: var(--Abel);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.token-login .resource-note{
    color: red;
    font-family: var(--Abel);
    font-weight: bold;
    letter-spacing: 1px;
}


.token-login .resource-submit:hover{
    background: transparent;
    border: 1px solid var(--orange);
    color: var(--black-1);
}
.token-login .resource-submit:focus{
    outline: none;
}



/* ----------x--------------Resources -----------x------ */

/*--------------------- Comment ---------------- */


@media (max-width:960px){
    .nav .toggle-collapse{
        display: initial;
    }

    .nav .nav-content{
        display: flex;
        flex-direction: column;
    }
    
    .nav .nav-menu{
        display: flex;
        flex-direction: column !important;
        
    }

    .nav{
        padding: 0 15px;
    }

    

    
    main .showcase .showcase-content{
        width: 90%;
        
    }

    main .showcase .showcase-button{
        width: 100%;
    }

    .nav .nav-menu .nav-menu-item{
        border-bottom: 1px solid var(--black-1-opacity);
    }

    main #blog-post{
        padding:20px;
    }

    main #blog-post .blog-content .blog-image{
        width: 100%;
        height: 300px;
    }
    main #blog-post .blog-content .blog-showcase .blog-info{
        width: 85% !important;
        left: 10px !important;
        padding: 10px 30px 20px 30px;
    }
    main #blog-post .blog-content .blog-title .blog-button{
        width: 60%;
    }
    main #blog-post .blog-content .blog-title p{
        width: 100%;
    
        /* text-align: justify; */
    }

    footer .footer-container{
        display: grid;
        grid-template-columns: 100%;
    }
    .showComment{
        width: 100% !important;
    }
    
    

    .comment form input{
        width: 100%;
    
    }

    /* HomePage  */

    main .showcase .showcase-content .home-container{
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    main .showcase .home-img{
        width: 150px !important;
        display: none;
    }

    main .new_showcase .home-container p{
        text-align: center;
        
    }
    
    main .new_showcase .home-container h1{
        font-size: 26px;
        font-weight: bolder;
        text-align: center;
    }

    main .showcase .showcase-content .home-container{
        padding: 0px;
    }

    main .showcase .showcase-content .home-container .inner-container{
        padding: 10px;
    }

    main .new_showcase{
        background-image: linear-gradient(rgba(220, 73, 58, 0.6) , rgba(220, 73, 58, 0.6)), url('./images/pexels-helena-lopes-1015568.jpg') ;
    }

    main .programme .programme-container{
        margin-right:20px;
    }

    main .theSvg{
        display: none;
        
    }

    main .team .team-img-container{
        width: 80%;
    }
    main .team .author-container .founder-details{
        width: 80%;
    }

    .flash-advert{
        /* max-height: 35vh !important; */
    }

    .content-flash .slides p{
        width: 100%;
        padding-left: 0px;
    }

    .content-flash .slides .flash-link-div{
        width: 80%;
    }

    main .team .tutors{
        padding-left: 20%;
        /* padding-top: 50px; */
    }

    main .example-student .student-img{
        width: 70%;
        height: 100%;
    }
    main .example-student .test-cont .student-test .linkToTestimonials{
        position: initial;
    }

    .Quote-Section .quote{
        width: 100%;
    }

    main .team{
        padding-top: 80px;
    }

    .token-login{
        width: 90%;
        margin-top: 30%;
    }
}



@media (max-width:450px){
    main #advertisement .owl-nav{
        left:37% !important;
    }
    .nav .toggle-collapse{
        right: 10px;
    }

    .nav{
        padding: 0px 10px;
    }
}




